<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Vinner news</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <style>
        body {
            padding-top: 20px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
</head>
<body>
<div id="body" class="container">

    <div id="page" class="offset2 span8">

        <div id="pageHeader">
            <h1>Vinner.News</h1>

            <p class="lead">The backpage of the internet
            </p>

            <p><a class="btn btn-primary" href="/submit">
                <i class="icon-plus icon-white"></i> Submit a link
            </a></p>
        </div>

        <div id="pageBody">
            {% extends base.html %}
            {% block body %}
            <form action="/login" method="POST" class="form-horizontal">
                <legend>Login</legend>
                {% if firstErrors.general %}
                <div class="alert alert-error">
                    {{firstErrors.general}}
                </div>
                {% end %}

                <div class="control-group{% if firstErrors.login %} error{% end %}">
                    <label class="control-label" for="inputLogin">Login</label>

                    <div class="controls">
                        <input class="input" type="text"
                               id="inputLogin" name="login" placeholder="login…"
                               value="{{login}}">
                        {% if firstErrors.login %}
                        <span class="help-inline">{{firstErrors.login}}</span>
                        {% end %}
                    </div>
                </div>

                <div class="control-group{% if firstErrors.password %} error{% end %}">
                    <label class="control-label" for="inputPassword">Password</label>

                    <div class="controls">
                        <input class="input" type="password"
                               id="inputPassword" name="password" placeholder="password…"
                               value="{{link}}">
                        {% if firstErrors.password %}
                        <span class="help-inline">{{firstErrors.password}}</span>
                        {% end %}
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" name="remeberMe" value="true">Remember me
                        </label>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-primary">Login</button>
                        <a href="/" class="btn">Cancel</a>
                    </div>
                </div>
            </form>
            {% end %}
        </div>

    </div>

</div>
</body>
</html>