<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Vinner news</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
</head>
<body>
<div id="body" class="container">

    <div id="page" class="offset2 span8">

        <div id="pageHeader">
            <h1>Vinner.News</h1>

            <p class="lead">The backpage of the internet
            </p>

            <p><a class="btn btn-primary" href="/submit">
                <i class="icon-plus icon-white"></i> Submit a link
            </a></p>
        </div>

        <div id="pageBody">
            {% extends base.html %}
            {% define body %}
            <form action="/submit" method="POST" class="form-horizontal">
                <legend>Submit a link</legend>


                <div class="control-group{% if firstErrors.title %} error{% end %}">
                    <label class="control-label" for="inputTitle">Title</label>

                    <div class="controls">
                        <input class="input-xxlarge" type="text"
                               id="inputTitle" name="title" placeholder="Type something…"
                               value="{{title}}">
                        {% if firstErrors.title %}
                        <span class="help-inline">{{firstErrors.title}}</span>
                        {% end %}
                    </div>
                </div>

                <div class="control-group{% if firstErrors.link %} error{% end %}">
                    <label class="control-label" for="inputLink">Link</label>

                    <div class="controls">
                        <input class="input-xxlarge" type="text"
                               id="inputLink" name="link" placeholder="Type something…"
                               value="{{link}}">
                        {% if firstErrors.link %}
                        <span class="help-inline">{{firstErrors.link}}</span>
                        {% end %}
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <a href="/" class="btn">Cancel</a>
                    </div>
                </div>
            </form>
            {% end %}
            {% end %}
        </div>

    </div>

</div>
</body>
</html>